<!DOCTYPE html>
<html>
  <head>
    <title>Moj FAKEBOOK</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body class="telo">
    <div class="logo">
      <h1 id="naslov">fakebook</h1>
      <p id="iskalnik">Iskalnik: <input type="text" name="iskalnik" placeholder="išči prijatelja"></p></ br>
    </div>
    <h2>Robert Osolnik</h2>
    <img src="http://shrani.si/f/3G/TS/1ecGfBOp/slika.jpg" height="250" width="250">
    <br />

    <button id="slika"><img src="http://shrani.si/f/6/Sf/3WzjkQ8h/icon.png" height="15" width="15"/> Dodaj prijatelja</button>
    <p><strong>Kraj:</strong> Kamnik</p>
    <p><strong>Starost:</strong> 23</p>
    <p><strong>Izobrazba:</strong> Diplomirani inženir multimedijskih komunikacij</p>
  </body>
</html>